<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <!-- <script src="/js/____.js"></script> -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
